.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}

#gallery {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}
#gallery .row > * {
  padding: 0;
}
/* Hamburger menu style */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: white; /* Ganti dengan warna yang diinginkan */
  width: 30px;
  height: 2px;
  display: block;
  position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease;
}
.navbar {
  background-color: #92add7 !important;
}
footer {
  background-color: #92add7 !important;
}

.navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler-icon::after {
  top: 8px;
}

/* When menu is open */
.navbar-toggler.open .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggler.open .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

/* Menu slide effect */
#nav-links.active {
  display: flex;
  flex-direction: column;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background: #333;
      padding: 10px;
      border-radius: 8px;
  }

  .nav-links.active {
      display: flex;
  }

  .hamburger {
      display: flex;
  }
}

